<div id="chess">
  <h1>Jedi Chess</h1>
    <table>
      <!-- create a 8x8 table using ruby loops, for each td tag, also insert the id with the position value such as a8, b6, c3..etc. The id will be used to insert the pieces later -->
      <% y_array = (1..8).to_a.reverse! %>
      <% y_array.each do |y_value| %>
        <%= content_tag "tr" do %>
          <% x_array = ('a'..'h').to_a %>
          <% x_array.each do |x_value| %>
            <% pos_id = x_value + y_value.to_s %>
            <%= content_tag "td", id: pos_id do %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </table>
</div>



<script>
  var pieces_hash = <%= raw @pieces_hash.to_json %>; //first convert a ruby hash to json format so js can utilize using .to_json

	var current_id = '#' + <%= raw @piece_pos_id.inspect %> //not sure why I need inspect and raw here

  for (key in pieces_hash) {
    pos_id = '#' + key
    piece_url = '/pieces/'+ pieces_hash[key][1]
    text = "<a href='"+ piece_url + "'><div class=\"" + pieces_hash[key][0] + " center-block\"></div></a>"
    $(pos_id).html(text); //this jquery finds each id tag with the value pos_id and insert the above <div class = 'color_type'></div> inside it so it gets inserted inside the td tag

    $(current_id).css("background-color", "red");
  }

  //only selected chess piece is draggable
  var selected_piece = current_id + " ." + pieces_hash[key][0]  // #h2 .black_pawn

  $(selected_piece).draggable({
    distance: 5,
    cursor: 'move'
  });

  //Every chess tile accepts a draggable
  $("#chess tr > td").droppable({
    drop: handleDropEvent
  });

  function handleDropEvent(event, ui){
    var draggable = ui.draggable;
    alert('i have a chess piece dropped on me');
  }

</script>


