<br />
<div class="col-xs-10 col-xs-offset-1 text-center">
	<h2>Are there any games I can join?</h2>
		<% if @games.present? %>
			<h4>Yes, there are! You can join any of these:</h4>
			<% @games.each do |game| %>
				<h5><%= link_to 'Pick me!', game_path(game) %></h5>
			<% end %>
		<% else %>
			<h4>No, sorry. :( Check back later, or create your own game!</h4>
		<% end %>
</div>