<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Add a New Game</h1>
  <br />
  <%= simple_form_for @game, :url => games_path do |f| %>
<!-- removed the form field to collect name because we don't have a name field in the game-->
    <br />
    <%= f.submit "Create", :class => 'btn btn-primary pull-right' %>
    <br />
  <% end %>
<br />
</div>


