<div id="chess">
  <h1>Jedi Chess</h1>
    <table>
      <!-- create a 8x8 table using ruby loops, for each td tag, also insert the id with the position value such as a8, b6, c3..etc. The id will be used to insert the pieces later -->
      <% y_array = (1..8).to_a.reverse! %>
      <% y_array.each do |y_value| %>
        <%= content_tag "tr" do %>
          <% x_array = ('a'..'h').to_a %>
          <% x_array.each do |x_value| %>
            <% pos_id = x_value + y_value.to_s %>
            <%= content_tag "td", id: pos_id do %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </table>
</div>
