<div id="chess">
  <h1>Jedi Chess</h1>
  <table>
    <tbody>
      <% 8.times do %>
          <tr>
            <% 8.times do %>
               <td><div class="white_queen center-block"></div></td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
