#chess {
  width: 540px;
  height: 540px;
  background: white;
  margin: 0 auto;
}

#chess h1 {
  text-align: center;
}

table {
  width: 609px;
  height: 609px;
  border-spacing: 0px;
  border: 2px solid black;
  border-collapse: separate !important;
}

table tr:nth-child(odd) td:nth-child(even) {
  background: gray;
}

table tr:nth-child(even) td:nth-child(odd) {
  background: gray;
}

td:hover {
  cursor: pointer;
  overflow:hidden;
  transform:scale(1.05);
  transition: transform 0.8s ;
}


.piece {
  width: 45px;
  height: 45px;
  background-size: 270px 90px;
  background: url(Chess_Pieces_Sprite.svg) no-repeat;

}

.white_rook {
  @extend .piece;
  display: inline-block;
  background-position: -180px 0px;
}

.white_knight {
  @extend .piece;
  display: inline-block;
  background-position: -135px 0px;
}

.white_bishop {
  @extend .piece;
  display: inline-block;
  background-position: -90px 0px;
}

.white_queen {
  @extend .piece;
  display: inline-block;
  background-position: -45px 0px;
}

.white_king {
  @extend .piece;
  display: inline-block;
  background-position: 0px 0px;

}

.white_pawn {
  @extend .piece;
  display: inline-block;
  background-position: -225px 0px;
}

.black_rook {
  @extend .piece;
  display: inline-block;
  background-position: -180px -45px;
}

.black_knight {
  @extend .piece;
  display: inline-block;
  background-position: -135px -45px;
}

.black_bishop {
  @extend .piece;
  display: inline-block;
  background-position: -90px -45px;
}

.black_queen {
  @extend .piece;
  display: inline-block;
  background-position: -45px -45px;
}

.black_king {
  @extend .piece;
  display: inline-block;
  background-position: 0px -45px;

}

.black_pawn {
  @extend .piece;
  display: inline-block;
  background-position: -225px -45px;
}

td {
  padding: 0;
  height: 76px;
  width: 76px;
}


